<!--todo: primera pagina de presentacion-->
<!--todo: segunda pagina demostracion de comandos-->
<!--todo: tercera pagina introduccion de texto en controles de texto-->
<!--todo: recomendaciones: 1) distancia menor a 10 cms de microfono 2) Entorno no ruidoso 3) tono claro y normal-->
<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A simple content slider with depth-like zoom functionality" />
	<meta name="keywords" content="reconocimiento de voz, speech recognition, voice recognition, voice control, demo" />
	<meta name="author" content="Yago López Salvador" />
	<!-- Feather Icons -->
	<link rel="stylesheet" type="text/css" href="fonts/feather/style.css">
	<!-- General demo styles & header -->
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/ionicons/css/ionicons.css"/>
	<!-- Component styles -->
	<link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>
    <!--<script src="node_modules/speechkitt/src/speechkitt.js"></script>-->
    <link rel="shortcut icon" href="favicon.ico">
    <title>Reconocimiento de Voz - Demostración</title>
    <script>
/*        if (annyang) {
            var commands = {
                'hola': function() { alert('Hello world!'); },
                'siguiente': function () {
                    console.log('dos.html');
                    window.location.href = 'dos.html';
                },
                'fin': function () {
                    console.log('finalizando sesion de voz mediante comando de voz');
                    annyang.abort();
                }
            };

            // Add our commands to annyang
            annyang.addCommands(commands);
            annyang.setLanguage('es-ES');
            annyang.debug(false);

            annyang.addCallback('start', function () {
                console.log('inicio')
            });
            annyang.addCallback('error', function () {
                console.warn('error reconocimiento de voz')
            });
            annyang.addCallback('errorNetwork', function () {
                console.warn('error network')
            });
            annyang.addCallback('errorPermissionBlocked', function () {
                console.warn('error permission blocked')
            });
            annyang.addCallback('errorPermissionDenied', function () {
                console.warn('error permission denied')
            });
            annyang.addCallback('end', function () {
                console.log('fin sesión reconocimiento de voz')
            });
            annyang.addCallback('result', function (res) {
                console.info('Reconocimiento de voz positivo. Resultado: ')
            });
            annyang.addCallback('resultMatch', function (userSaid, commandText, phrases) {
                console.log('Texto reconocido: ', userSaid); // sample output: 'hello'
                console.log('Nombre de funcion ejecutada: ', commandText); // sample output: 'hello (there)'
                console.log('Resultados posibles por orden de probabilidad: ', phrases); // sample output: ['hello', 'halo', 'yellow', 'polo', 'hello kitty']
            });
            annyang.addCallback('resultNoMatch', function (res) {
                console.warn('No se han reconocido comandos para:', res)
            });

            // Start listening.
            annyang.start({autoRestart: false, continuous: false});

//            var toggleRecognition = function () {
//                if( annyang.isListening() ){
//                    annyang.abort()
//                } else { annyang.start() }
//            }
        }*/
    </script>

</head>
<body ng-app="app-reconocimiento-voz">

	<!-- Main container -->
	<div class="container" ng-controller="ControladorReconocimientoVoz">

        <section class="slider">
            <div class="slide slide--current" data-content="content-1">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <!--<img class="zoomer__image" src="images/iphone.png" alt="iPhone" />-->
                        <div class="preview">
                            <!--<img src="images/imac-content-preview.jpg"/>-->
                            <img src="images/88.png"/>
                            <div class="zoomer__area zoomer__area--size-3"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title">
                    <span>Reconocimiento de voz</span>
                    Demostración
                </h2>
            </div>
            <div class="slide" data-content="content-2">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <div class="preview">
                            <!--<img src="images/ipad-content-preview.png" alt="iPad Mini app preview" />-->
                            <img src="images/66.png" alt="iPad Mini app preview" />
                            <div class="zoomer__area zoomer__area--size-4"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>The Fantastic</span> iPad Mini</h2>
            </div>
            <div class="slide" data-content="content-3">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <div class="preview">
                            <!--<img src="images/macbook-content-preview.jpg" alt="MacBook app preview" />-->
                            <img src="images/66.png" alt="MacBook app preview" />
                            <div class="zoomer__area zoomer__area--size-3"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>The Amazing</span> MacBook</h2>
            </div>
            <div class="slide" data-content="content-4">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <div class="preview">
                            <img src="images/imac-content-preview.jpg" alt="iMac app preview" />
                            <div class="zoomer__area zoomer__area--size-5"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>The Glorious</span> iMac</h2>
            </div>
            <div class="slide" data-content="content-5">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <div class="preview rounded">
                            <img src="images/apple-watch-content-preview.png" alt="Apple Watch app preview" />
                            <div class="zoomer__area zoomer__area--size-1"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>The Fabulous</span> Apple Watch</h2>
            </div>
            <nav class="slider__nav">
                <button class="button button--nav-prev">
                    <i class="icon icon--arrow-left"></i>
                    <span class="text-hidden">Anterior</span>
                </button>
                <button class="button button--zoom">
                    <i class="icon icon--zoom"></i>
                    <div style="font-size:12px;">Detalles</div>
                </button>
                <button class="button button--nav-next">
                    <i class="icon icon--arrow-right"></i>
                    <span class="text-hidden">Siguiente</span>
                </button>
            </nav>
        </section>

        <section class="content">
            <div class="content__item" id="content-1">
                <img class="content__item-img rounded-right" src="images/iphone-content.png" alt="Apple Watch Content" />
                <div class="content__item-inner">
                    <h2>The iPhone 6</h2>
                    <h3>Incredible performance for powerful apps</h3>
                    <p>Built on 64-bit desktop-class architecture, the new A8 chip delivers more power, even while driving a larger display. The M8 motion coprocessor efficiently gathers data from advanced sensors and a new barometer. And with increased battery life, iPhone 6 lets you do more, for longer than ever.</p>
                    <p><a href="https://www.apple.com/iphone-6/technology/">Learn more about this technology &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-2">
                <img class="content__item-img rounded-right" src="images/ipad-content.jpg" alt="iPad Mini Content" />
                <div class="content__item-inner">
                    <h2>The iPad Mini</h2>
                    <h3>Desktop-class architecture without a desktop</h3>
                    <p>Don’t let its size fool you. iPad mini 3 is powered by an A7 chip with 64-bit desktop-class architecture. A7 delivers amazing processing power without sacriﬁcing battery life. So you get incredible performance in a device you can take with you wherever you go.</p>
                    <p><a href="https://www.apple.com/ipad-mini-3/performance/">Learn more about Performance &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-3">
                <img class="content__item-img rounded-right" src="images/macbook-content.jpg" alt="MacBook Content" />
                <div class="content__item-inner">
                    <h2>The MacBook</h2>
                    <h3>It's the future of the notebook</h3>
                    <p>With the new MacBook, we set out to do the impossible: engineer a full-size experience into the lightest and most compact Mac notebook ever. That meant reimagining every element to make it not only lighter and thinner but also better. The result is more than just a new notebook. It's the future of the notebook.</p>
                    <p><a href="https://www.apple.com/macbook/design/">Learn more about the design &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-4">
                <img class="content__item-img rounded-right" src="images/imac-content.jpg" alt="iMac Content" />
                <div class="content__item-inner">
                    <h2>The iMac</h2>
                    <h3>Engineered to the very last detail</h3>
                    <p>Every new Mac comes with Photos, iMovie, GarageBand, Pages, Numbers, and Keynote. So you can be creative with your photos, videos, music, documents, spreadsheets, and presentations right from the start. You also get great apps for email, surfing the web, sending texts, and making FaceTime calls — there’s even an app for finding new apps.</p>
                    <p><a href="https://www.apple.com/imac/built-in-apps/">Learn more about the iMac's features &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-5">
                <img class="content__item-img rounded-right" src="images/apple-watch-content.png" alt="Apple Watch Content" />
                <div class="content__item-inner">
                    <h2>The Apple Watch</h2>
                    <h3>Entirely new ways to stay in touch</h3>
                    <p>Apple Watch makes all the ways you're used to communicating more convenient. And because it sits right on your wrist, it can add a physical dimension to alerts and notifications. For example, you’ll feel a gentle tap with each incoming message. Apple Watch also lets you connect with your favorite people in fun, spontaneous ways — like sending a tap, a sketch, or even your heartbeat. </p>
                    <p><a href="https://www.apple.com/watch/new-ways-to-connect/">Learn more about new ways to connect &xrarr;</a></p>
                </div>
            </div>
            <button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
        </section>

        <div id="control-voz" style="text-align:center;">
            <a href="#" ng-click="toggle()">
                <i ng-if="annyang.isListening()" class="ion-android-microphone animated fadeIn infinite"
                   style="font-size:100px;color:lawngreen;vertical-align: middle;padding:5px"></i>
                <i ng-if="!annyang.isListening()" class="ion-android-microphone-off"
                   style="font-size:100px;color:red;vertical-align: middle;padding:5px"></i>
            </a>
            <div ng-bind-html="statusMessage | FiltroHtml | uppercase"></div>
        </div>


	</div>
    <script src="bower_components/annyang/annyang.js"></script>
    <script src="js/classie.js"></script>
	<script src="js/dynamics.min.js"></script>
	<script src="js/main.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/angular-app.js"></script></body>
</html>