<div class="content__item full-width" id="content-3">
    <div class="content__item-inner full-width">
        <h3>Síntesis de voz</h3>
        <form ng-controller="SintesisVozCtrl">
            <select ng-hide="isAndroid" ng-model="optionSelected" ng-options="voice.name for voice in voices">
                <option value="">Escoger idioma</option>
            </select>
            <div class="controls">
                <label ng-hide="isAndroid">Tono: {{ pitch }}
                    <input type="range" ng-model="pitch" min="0" max="2" step="1"  title="Tono"/>
                </label>
                <label>Velocidad: {{ rate }}</label>
                <input type="range" ng-model="rate" min="0.1" max="10" step="0.1"  title="Velocidad"/>
            </div>
            <p style="font-size:1.1em;text-align:center">
                Nota: Funciones de voz sólo compatible con teléfonos Android. Los lenguajes disonibles dependen de
                si se hallan instalados
                o no en el sistema operativo. El control del tono y la velocidad depende de cada voz.
                Algunas voces no soportan más allá de velocidad 2</p>
            <textarea ng-model="msg" placeholder="Introducir texto..."></textarea>
            <table align="center" class="full-width">
                <tr>
                    <td>
                        <button ng-click="onClickBtnHablar()" class="btn">
                            <i class="ion-ios-play"></i> Hablar
                        </button>
                    </td>
                    <td ng-hide="isAndroid">
                        <button ng-click="CancelarHablar()" class="btn"><i class="ion-ios-pause"></i> Detener</button>
                    </td>
                </tr>
            </table>
            <p class="status-message" ng-bind-html="statusMessage | filtroHtml"></p>
            <p class="p-cerrar-pagina">
                <button ng-click="cerrarPagina()" class="btn"><i class="ion-ios-close-outline"></i> Cerrar</button>
            </p>
        </form>
    </div>
</div>
